* {
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ededf7;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f2b8af;

}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 0;

}

header nav ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
    padding: 15px;
}

.menu>li>a {
    display: block;
    color: #ffff;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu li:hover {
    background-color: #ffff;
    transition: all .3s;
}

.menu li:hover .menu-a {
    color: #f2b8af;
    transition: all .3s;
}



/* Submenu*/

.submenu {
    position: absolute;
    background-color: #f2b8af;
    width: 100%;
    transform: translateX(-13%);
    top: 61px;
    visibility: hidden;
    opacity: 100;
    transition: opacity 1.5s;
    z-index: 999;
}

.submenu li {
    padding: 0px;
}

.submenu li a {
    display:block;
    padding: 15px;
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

.menu li:hover .submenu {
  color: #ffff;

}

.submenu>li>a:hover {
    color: #f2b8af;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;

}



/*Footer*/

footer {
    background-color: #f2b8af;
}


/*About us*/
.fondo {
    background-image: url(https://github.com/rigojsv/safehn/blob/6c7c6857f8d08dc213f07a631bf49323a28e2724/resources/backgrounds/img1.jpeg);
    background-size: cover;
    height: 90vh;
}

.inicio {
    display: block;
    text-align: justify;
    padding: 20px;
}
.about {
    padding: 20px;
    margin: 0px 400px;
    
}
.location {
    display: flex;
    /*text-align: justify;*/
}

.location h2 {
    text-align: center;
}

.derecha, .izquierda {
    flex: 1;
    padding: 20px;
    margin: 70px 100px;
}

.derecha, .izquierda, .about {
    background-color: #ededf7;
    border-radius: 2%;
}


/*Products*/
main {
    min-height: 90vh;
}

.link {
    text-decoration: none;
    color: #000;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}

.gallery-products {
    background-color: #ededf7;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

}

.see-more {
    border: 1px solid #ffff;
    display: inline-block;
    background-color: #f2b8af;
    color: #fff;
    text-decoration: none;
    border-radius: 15%;
    padding: 10px 10px; 
    margin: 10px;
}

.gallery {
    background-color: #ededf7;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem;
    justify-content: center;
}

.gallery-item {
    box-sizing: border-box;
    flex: 1 1 30%;
    max-width: 350px;
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0px 0.5rem;
    background-color: #fff;
    text-align: center;
    transition: 1s transform ease;
}

.gallery-item img {
    
    width: 325px;
    height: 180px;
    object-fit: cover;
    margin-top: 0.75rem;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    border-radius: 2%;
}

.gallery-item .price {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 10px 10px;    
}

.gallery-item:hover {
    transform: rotate(0deg) translateY(0) scale(1.05);
}

/* faq*/
.fondo2 {
    margin: 0;
    background-image: url(https://github.com/rigojsv/safehn/blob/6c7c6857f8d08dc213f07a631bf49323a28e2724/resources/backgrounds/img2.jpeg);
    background-size: cover;
    height: 90vh;
}

.faq-box{
    background-color: #ededf7;
    padding: 20px;
    border-radius: 2%;
    margin-top: 20px;
}

#faq-section h2 {
    text-align: center; 
    font-size: 32px; 
}

#faq-section {
    padding: 20px;
    margin: 0px 20px;
    
}

.faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 24px; 
}

.arrow {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.question.active .arrow {
    transform: rotate(90deg);
}

.answer {
    margin-top: 10px;
}


/*contact*/

.fondo3 {
    background-image: url(https://github.com/rigojsv/safehn/blob/6c7c6857f8d08dc213f07a631bf49323a28e2724/resources/backgrounds/img3.jpeg);
    background-size: cover;
    height: 90vh;
}

.social-box p{
    color: #ffff;
}

