* {
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ededf7;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f2b8af;

}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 0;

}

header nav ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
    padding: 15px;
}

.menu>li>a {
    display: block;
    color: #ffff;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu li:hover {
    background-color: #ffff;
    transition: all .3s;
}

.menu li:hover .menu-a {
    color: #f2b8af;
    transition: all .3s;
}



/* Submenu*/

.submenu {
    position: absolute;
    background-color: #f2b8af;
    width: 100%;
    transform: translateX(-13%);
    top: 61px;
    visibility: hidden;
    opacity: 100;
    transition: opacity 1.5s;
    z-index: 999;
}

.submenu li {
    padding: 0px;
}

.submenu li a {
    display:block;
    padding: 15px;
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

.menu li:hover .submenu {
  color: #ffff;

}

.submenu>li>a:hover {
    color: #f2b8af;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;

}






/*Footer*/

footer {
    background-color: #f2b8af;
}


/*About us*/

.inicio {
    display: block;
    text-align: center;
    padding: 20px;
}

.location {
    display: flex;
    text-align: center;
}

.derecha, .izquierda {
    padding: 20px 20px;
}


/*Products*/

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}

.gallery {
    background-color: #ededf7;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem;
    justify-content: center;
}

.gallery-item {
    box-sizing: border-box;
    flex: 1 1 30%;
    max-width: 350px;
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0px 0.5rem;
    background-color: #fff;
    text-align: center;
    transition: 1s transform ease;
}

.gallery-item img {
    
    width: 325px;
    height: 180px;
    object-fit: cover;
    margin-top: 0.75rem;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    border-radius: 2%;
}

.gallery-item .price {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 10px 10px;    
}

.gallery-item:hover {
    transform: rotate(0deg) translateY(0) scale(1.05);
}
